body {
  margin: 0px;
  padding: 0px;
  background: url(bg.jpg) no-repeat;
  font-family: 'Noto Sans' sans-serif;
  background-color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.logo {
  padding: 0.5em;
  font-size: 30px;
  margin-left: 20px;
}

nav ul {
  display: grid;
  list-style-type: none;
  margin: 0px;
  grid-template-columns: repeat(4, 1fr);
}

nav ul li a {
  padding: 1em;
  justify-self: end;
  display: inline-block;
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.hamburger {
  display: none;
  padding: 0.5em;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 0.5em;
}

@media (max-width: 550px) {
  nav {
    grid-template-columns: 1fr 1fr;
    height: 69px;
    position: sticky;
    position: -webkit-sticky;
  }

  nav ul {
    grid-column: 1/3;
    display: block;
    padding-inline-start: 0px;
  }

  ul li {
    text-align: center;
    margin-left: 0px;
    opacity: 0;
  }

  nav ul li a {
    font-size: 25px;
  }

  .hamburger {
    grid-row: 1/2;
    grid-column: 2/3;
    display: block;
    justify-self: end;
  }

  .hamburger span {
    transform-origin: top left;
  }

  .hamburger span:nth-child(3) {
    transform-origin: bottom left;
  }
}
@media (min-width: 550px) {
  ul li {
    opacity: 1 !important;
  }
}
.nav1 {
  transition: 300ms;
}
.active {
  color: orange;
  font-weight: 600;
}

.nav1:hover {
  color: orange;
}
.navbgcolor {
  z-index: 2;
}
.navbgcolor.scrolled {
  background-color: rgba(0, 0, 0, 50%);
  zoom: 0.6;
}

.swiper-container-top {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.bannerbox {
  padding-top: 550px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #fff;
  background-repeat: no-repeat;
  /* Center slide text vertically */
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}

.swiper-slide .title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}
.swiper-slide .text {
  font-size: 15px;
  font-weight: 300;
}
.btnnexttopbanner,
.btnprevtopbanner {
  transition: 300ms;
  color: black;
  zoom: 1.4;
  text-shadow: 0px 0px 5px white;
}
.btnnexttopbanner:hover,
.btnprevtopbanner:hover {
  color: white;
  text-shadow: 0px 0px 10px orange;
}

.titlevm {
  padding-top: 30px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  font-family: 'Fraunces', serif;
}
.descvm {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  font-family: 'Fraunces', serif;
  opacity: 0.7;
  padding-left: 80px;
  padding-right: 80px;
}
.visi,
.misi {
  margin-bottom: 100px;
  margin-top: 100px;
}

.footer {
  background: #023023;
  padding-top: 55px;
}
.containerfooter {
  padding-left: 20px;
}

.footer .address h3 {
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  padding-bottom: 20px;
}

.footer .address i {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.footer .address i img {
  padding-right: 10px;
}

.form-control {
  border: #b1b0b0 solid 2px;
  margin-bottom: 30px;
  border-radius: inherit;
  padding: 16px 19px;
  color: #cfcece;
}

.form-control:focus,
.form-control:hover {
  border: #b1b0b0 solid 2px !important;
}

.textarea {
  margin-bottom: 30px;
  padding: 71px 19px;
  color: #655f5f !important;
  width: 100%;
  border: #b1b0b0 solid 2px;
  border-radius: inherit;
}

.send-btn {
  margin-left: 15px;
  font-size: 16px;
  border: #000000 solid 2px;
  padding: 16px 70px;
  background-color: #000000;
  color: #fff;
}

.send-btn:hover {
  background-color: #ff0000;
  border: #ff0000 solid 2px;
  color: #fff;
}

ul.contant_icon {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
}

ul.contant_icon li {
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 8px;
}

ul.contant_icon li img {
  width: 32px;
  height: 32px;
}

.footer .newsletter h3 {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  display: block;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.submit-btn {
  transition: 300ms;
}
.footer .address .form-control {
  padding: 10px 15px;
  border: #ddd solid 1px;
  margin-bottom: 20px;
  box-shadow: inherit;
}

.form-control:focus,
.form-control:hover {
  border: #ddd solid 1px !important;
}

.footer .address .submit-btn {
  padding: 5px 29px;
  border: #0fc690 solid 1px;
  background: #0fc690;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.footer .address .submit-btn:hover {
  background: #000;
  border: #000 solid 1px;
}

.copyright {
  background-color: #fff;
  padding: 20px 0px;
  margin-top: 55px;
}

.copyright p {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.copyright a:hover {
  color: #0fc690;
}

.logocont {
  height: 200px;
  width: 100%;
}

.brandcontainer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btnnextbrandbanner,
.btnprevbrandbanner {
  transition: 200ms;
  text-shadow: 0px 0px 5px white;
}
.btnnextbrandbanner:hover,
.btnprevbrandbanner:hover {
  color: black;
  text-shadow: 0px 0px 10px black;
}

.swiper-slide-brand1,
.swiper-slide-brand2,
.swiper-slide-brand3,
.swiper-slide-brand4,
.swiper-slide-brand5 {
  text-align: center;
  font-size: 18px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  border: 1px solid black;
}

.swiper-slide-brand1 {
  background-image: url('../img/car-logo/Honda.png');
}
.swiper-slide-brand2 {
  background-image: url('../img/car-logo/Ferrari.png');
}
.swiper-slide-brand3 {
  background-image: url('../img/car-logo/Ferrari.png');
}
.swiper-slide-brand4 {
  background-image: url('../img/car-logo/Ferrari.png');
}
.swiper-slide-brand5 {
  background-image: url('../img/car-logo/Ferrari.png');
}
